<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fonzi2 Dashboard</title>
  <link rel="stylesheet" href="/css/dashboard.css">
  <script type="module" src="js/update-uptime.js"></script>
</head>

<body>
  <header>
    <span id="version">Version:<b>
        <%= version %>
      </b></span>
    <a class="invite" href="<%=inviteLink%>">
      <h1><img class="bot-icon round" src="<%=client.user.avatarURL()%>">
        <%= client.user.tag%>
      </h1>
    </a>
    <!-- evil css fake error -->
    <div class="user" style="background-color: <%= userInfo.banner_color %>">
      <img class="user-icon round" src="<%=userInfo.avatar%>" alt="avatar">
      <div>
        <h4><%=userInfo.global_name%></h4>
        <h6><%=userInfo.username%></h6>
      </div>
    </div>
  </header>
  <hr>
  <span>Uptime: <b id="uptime" start=<%=startTime%>></b></span>
  <br>
  <span>Currently part of <b><%=guilds.size%></b> guilds</span>
  <ul>
    <% guilds.forEach((guild)=> { %>
    <li>
      <div class="guild-wrapper">
        <span><%= guild.name %></span>
        <img class="guild-icon" src="<%=guild.iconURL()%>">
        <span>
          <%= guild.memberCount%> members
        </span>
      </div>
    </li>
    <% }); %>
  </ul>
</body>

</html>