<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fonzi2 Dashboard</title>
  <link rel="stylesheet" href="/css/dashboard.css">
  <script type="module" src="js/update-uptime.js"></script>
</head>

<body>
  <span id="version">Version: <b>
      <%= version %>
    </b></span>
  <h1><img class="guild-icon" src="<%=client.user.avatarURL()%>">
    <%= client.user.tag%>
  </h1>
  <hr><br>
  <span>Uptime: <b id="uptime" start=<%=startTime%>></b></span>
  <br>
  <span>Currently part of <%=guilds.size%> guilds</span>
  <ul>
    <% guilds.forEach((guild)=> { %>
      <li>
          <div class="guild-wrapper">
            <span><%= guild.name %></span>
            <img class="guild-icon" src="<%=guild.iconURL()%>">
            <span>
              <%= guild.memberCount%> members
            </span>
          </div>
      </li>
      <% }); %>
  </ul>
</body>

</html>